@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&family=Lobster&display=swap');

body {
    background-color: #ebebeb;
}

section {
    margin-top: 50px;
}

.main__section {
    margin-top: 110px;
}

p {
    color: black;
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* VISIBILITY */



/* TITLES */

h1 {
    text-transform: uppercase;
    color: #17202A;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
    position: relative;
}

h1:after {
    content: "";
    background-color: #28B463;
    height: 5px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 35%;
}

h2 {
    font-family: "Cairo";
    font-weight: 700;
}

/* NAV */

nav {
    background-color: #58D68D;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 50px;
    top: 0;

}

nav ul {
    margin: 0;
    margin-right: 50px;
}

nav p {
    margin: 0px;
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
    color: white;
}

nav img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

#shopping_cart_nav {
    font-size: 1.5rem !important;
    padding-right: 10px;
}

#shopping_cart_nav:hover {
    color: white;
    cursor: pointer;
}

#nav__counter {
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: #FF005C;
}

/* ICONS */

.fa-times {
    margin: 0;
    padding: 0;
}

.fa-times:hover {
    cursor: pointer;
}


/* LISTS */

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    color: #1c1c1c;
}

.featured__list {
    display: flex;
    gap: 2rem;
}

/* CARDS */

.card__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 5px 20px 5px 20px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    transition: 0.2s;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    border-radius: 2px;    
}

.card__product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.card__product__label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__shopping li {
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    /*border: 1px solid black;*/
    margin: 5px 0 -5px 0;
}

.card__shopping li:hover {
    background-color: #58D68D;
    color: white;
    cursor: pointer;
}

.card__brands {
    display: grid;
    grid-template-rows: 50% 25% 25%;
    width: 95%;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    transition: 0.2s;
    background-color: white;
}

.card__brands:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.card__brands__image {
    overflow: hidden;
}

.card__brands__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.card__brands__see {
    display: flex;
    align-items: end;
    justify-content: center;
    font-weight: 600;
}

.card__brands__see p {
    margin-bottom: 5px;
}

.card__brands img {
    width: 100%;
}

.card__brands__header {
    height: 4.5rem;
    background: rgb(233,0,255);
    background: linear-gradient(90deg, rgba(233,0,255,1) 0%, rgba(109,3,119,1) 71%);
    border-radius: 6px;
    box-shadow: 0px 7px 15px -3px #000033;
}

.card__brands__header h2 {
    color: whitesmoke;
    margin: 0 0 0 10px;
}

.card__brands__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    margin-top: 15px;
    gap: 15px;
}



.card__slider img {
    width: 60%;
    margin: 0;
    justify-self: center;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card__slider__description {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* IMAGES */

.image__card {
    width: 138px;
}

/* SECTIONS */

.main_menu {
    padding-top: 50px;
}

/* MARGINS AND PADDINGS */

.mg-rt-50 {
    margin-right: 50px;
}

.mg-bt-40 {
    margin-bottom: 40px;
}

.mg-tp-70 {
    margin-top: 70px;
}

/* DISCOUNTS */

.discount {
    display: flex;
    flex-direction: row;
}

.discount__apply {
    color: white;
    font-weight: 700;
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    background: #FC6E51;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.discount__apply:hover {
    cursor: pointer;
}

.discount__apply:active {
    background-color: #F8C471;
}

/* SLIDER */

.slider__container {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: visible;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='2' stroke-dasharray='20%2c 15%2c 7%2c 9' stroke-dashoffset='77' stroke-linecap='round'/%3e%3c/svg%3e");
}

.slider__track {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card__slider {
    position: absolute;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10% 15% 10% 15%;
    transition: 1s;
    border-radius: 20px;
}

.card__slider .purchase-icon {
    color: white;
    font-weight: 700;
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    background: #FC6E51;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

/* RECOMMENDATION ENGINE */

.recommendation__container {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 350px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='2' stroke-dasharray='17%2c 11%2c 22%2c 15' stroke-dashoffset='11' stroke-linecap='butt'/%3e%3c/svg%3e");
border-radius: 20px;
}

.recommendation__track {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.recommendation__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommendation__options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recommendation__option {
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.recommendation__option:hover {
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.recommendation__selected {
    transition: 0.2s;
    background-color: #A9DFBF;
    color: white; 
}

.recommendation__button {
    color: white;
    font-weight: 700;
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    background: #229954;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

@keyframes fade-in-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation-name: fade-in-animation;
    animation-duration: 1.5s;
}

/* PAYMENT PAGE */

.discount input {
    border-radius: 10px;
    height: 56px;
    border: 0;
    width: 400px;
    margin-right: 20px;
    position: relative;
    
}

.discount input[type="text"] {
    font-size: 24px;
    padding-left: 15px;
}

.product__row {
    border: 1px lightgray solid;
    width: 50%;
    padding: 15px 0 15px 10px;
    margin: 3px 0 3px 0;
    cursor: pointer;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 60% 10% 10% 10%;
}

.product__row:hover {
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.5);
}

.purchase__total__wrapper {
    position: relative;
}

.purchase__total {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    gap: 20px;
}

.purchase__total::after {
    content: "";
    height: 5px;
    width: 300px;
    background-color: #28B463;
    position: absolute;
    bottom: 0px;
    
}

/* MODAL WINDOW */

.modal__internal {
    position: absolute;
    width: 40%;
    z-index: 10;
    box-shadow: 0 3rem 5 rem rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Cairo", sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

.close-modal {
   position: absolute;
   top: 1.2rem;
   right: 2rem;
   font-size: 5rem;
   color: #333;
   cursor: pointer;
   border: none;
   background: none;
}

/* ELEMENTS & DECORATIONS */

.arrow-prev {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: hsla(0, 0%, 100%, 0);
    color: hsla(0, 0%, 0%, 0);
    transition: 0.5s;
    border: 0;
}

.arrow-next {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: hsla(0, 0%, 100%, 0);
    color: hsla(0, 0%, 0%, 0);
    transition: 0.5s;
    border: 0;
    right: 15px;
}

.arrow-next img {
    transform: rotate(180deg);
    width: 25px;
}

.arrow-prev img {
    width: 25px;
}

/* TEXT EFFECTS */

.strike {
    text-decoration: line-through;
    color: red;
}

/* FOOTER */

footer {
    margin-top: 100px;
    background-color: #D5DBDB;
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer__info {
    padding-top: 50px;
}

.logo {
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
}

.logo-image {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

form input {
    height: 2.5rem;
    width: 70%;
    border: 1px solid #ededed;
}

.subscribe {
    height: 2.5rem;
    padding: 5px 15px;
    margin-top: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-family: sans-serif;
    border: 1px solid #A9DFBF;
    background-color: #229954;
}

.footer__social-widgets {
    margin-top: 10px;
}

.footer__social-widgets li {
    padding: 20px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.footer__social-widgets li:hover {
    cursor: pointer;
    background-color: #229954;
}

/* FORMS */



/* RESPONSIVE */

@media (max-width: 65rem) {

    .card__brands__container {
        flex-direction: column;
    }

}