@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&display=swap');

p {
    color: black;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* VISIBILITY */



/* TITLES */

h1 {
    text-transform: uppercase;
    color: #17202A;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
    position: relative;
}

h1:after {
    content: "";
    background-color: #28B463;
    height: 5px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 35%;
}

h2 {
    font-family: "Cairo";
    font-weight: 700;
}

/* NAV */

nav {
    background-color: #58D68D;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 50px;
}

nav ul {
    margin: 0;
    margin-right: 50px;
}

nav p {
    margin: 0;
}

#shopping_cart_nav {
    font-size: 1.5rem !important;
    padding-right: 10px;
}

#shopping_cart_nav:hover {
    color: white;
    cursor: pointer;
}

#nav__counter {
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: #FF005C;
}

/* ICONS */

.fa-times {
    margin: 0;
    padding: 0;
}

.fa-times:hover {
    cursor: pointer;
}


/* LISTS */

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    color: #1c1c1c;
}

.featured__list {
    display: flex;
    gap: 2rem;
}

/* CARDS */

.card__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 5px 20px 5px 20px;
    padding: 5px 10px 5px 10px;
    background-color: #EBEDEF;
}

.card__product__label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__shopping li {
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    /*border: 1px solid black;*/
    margin: 5px 0 -5px 0;
}

.card__shopping li:hover {
    background-color: #58D68D;
    color: white;
    cursor: pointer;
}

/* IMAGES */

.image__card {
    width: 138px;
}

/* SECTIONS */

.main_menu {
    padding-top: 100px;
}

/* MARGINS AND PADDINGS */

.mg-rt-50 {
    margin-right: 50px;
}

/* DISCOUNTS */

.discount {
    display: flex;
    flex-direction: row;
}

.discount__apply {
    margin-left: 15px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: #F39C12;
    padding: 0 10px 0 10px;
}

.discount__apply:hover {
    cursor: pointer;
}

.discount__apply:active {
    background-color: #F8C471;
}

/* TEXT EFFECTS */

.strike {
    text-decoration: line-through;
    color: red;
}